<div class="container theme-showcase">

	<div>
	<h1>Enter a Workout</h1>

	<form>
		Name&nbsp;&nbsp;&nbsp;<input id="name" type="text" value="Squats" name="name"><br>
		Reps&nbsp;&nbsp;&nbsp;<input id="reps" type="text" value="20" name="reps"><br>
		Weight&nbsp;<input id="weight" type="text" value="50" name="weight"><br>
		Unit&nbsp;&nbsp;&nbsp;<input id="unit" type="text" value="kg" name="unit"><br>	
		Date&nbsp;&nbsp;&nbsp;<input id="date" type="text" value="1989-08-08" name="date"><br>						
		<button id="insertButton">Insert</button>
	</form>
	</div>

	<div id="tableDiv">
	<h1>MySQL Data</h1>

	<table>
		<thead>
			<th class="hidden">ID
			<th>Name
			<th>Reps
			<th>Weight
			<th>Unit
			<th>Date
		</thead>
		<tbody id="tab">
		</tbody>
	</table>

	<form>
		<button id="resetButton">Reset Table</button>
	</form>
	</div>

</div>


